body{
    font-size: 15px;
}
.nav>li>a:hover, .nav>li>a:focus, .nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
    background:#fff;
}
.dropdown-menu>li>a {
    color:#428bca;
    padding: 5px;
}
.dropdown ul.dropdown-menu {
    border-radius:4px;
    box-shadow:none;
    margin-top:15px;
    width:200px;
    right: 0 !important;
    left: unset;
    padding: 0px;
}
.dropdown ul.dropdown-menu:before {
    content: "";
    border-bottom: 10px solid #fff;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    top: -10px;
    right: 16px;
    z-index: 10;
}
.dropdown ul.dropdown-menu:after {
    content: "";
    border-bottom: 12px solid #ccc;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
    position: absolute;
    top: -12px;
    right: 14px;
    z-index: 9;
}

.form-group.has-error label,
.form-group.has-error .help-block {
    color:red;

}
.form-group.has-error .help-block  {
    font-size: 12px;
}
.form-group.has-error input  {
    border: 1px solid red;
}

#body-row {
    margin-left:0;
    margin-right:0;
}
#sidebar-container {
    min-height: 100vh;   
    background-color: #333;
    padding: 0;
}

/* Sidebar sizes when expanded and expanded */
.sidebar-expanded {
    width: 230px;
}
.sidebar-collapsed {
    width: 60px;
}

/* Menu item*/
#sidebar-container .list-group a {
    height: 50px;
    color: white;
}

/* Submenu item*/
#sidebar-container .list-group .sidebar-submenu a {
    height: 45px;
    padding-left: 30px;
}
.sidebar-submenu {
    font-size: 0.9rem;
}

/* Separators */
.sidebar-separator-title {
    background-color: #333;
    height: 35px;
}
.sidebar-separator {
    background-color: #333;
    height: 25px;
}
.logo-separator {
    background-color: #333;    
    height: 100px;
}
.logo-separator img{
    height: auto;
    max-width: 95%;
}
.d-none.collapse.show{
    left: 0;
    z-index: 100;
    position: absolute;
    display: block !important;
}

.collapse.show a{
    background-color: rgb(32, 36, 41) !important;
    border: none !important;
}
a.list-group-item.list-group-item-action.active,.collapse.show a.active {
    background-color: #1d2124 !important;
    border: none !important;
}
.btn.btn-xs{
    padding: 2px 5px !important;
    font-size: 11px !important;

}
.table-responsive,.dataTables_wrapper {
    display: table;
    min-width: 100%;
}
/* sidebar-expanded d-none d-md-block collapse show */

.jqte_tool.jqte_tool_1 .jqte_tool_label {
    height: 30px !important;
}
.height .jqte_editor,.height .jqte_source {
    min-height: 300px !important;
}